<div class="card">
  
  <div class="page-top shadow-sm">
    Usuarios Cadastrados
    <a [routerLink]="['0','add']">
      <button class=" btn btn-primary btn-xs fa fa-plus-circle pull-right" 
        style="margin-top:2px;margin-right: 2px; padding: 2px;"></button>
    </a>  
  </div>
  <div *ngIf="usuarios === undefined" class="text-center">
    <loading-spinner></loading-spinner>
  </div>
  <div *ngIf="usuarios !== undefined">
  
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Empresa</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>  
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.nome}}</td> 
          <td class="text-center">{{usuario.empresa.nome}}</td>
          <td class="text-center">
            <a [routerLink]="[usuario.id, 'edit']" class="componenteform">
              <button class=" btn btn-primary fa fa-pencil sombra-btn" title="Detalhes" 
              data-toggle="tooltip" data-placement="bottom"></button>
            </a>
            <a class="componenteform">
              <button type="button" class="btn btn-info fa fa-retweet sombra-btn" 
                title="Resetar Senha" data-placement="bottom" (click)="resetPassword(usuario.email)">
              </button>
            </a>
            <a class="componenteform" *ngIf="usuario.isAtivo === true">
              <button type="button" class="btn btn-warning fa fa-level-down sombra-btn" 
                title="Desabilitar" data-placement="bottom" (click)="isAtivo('false', usuario.id)">
              </button>
            </a>
            <a class="componenteform" *ngIf="usuario.isAtivo === false">
              <button type="button" class="btn btn-success fa fa-level-up sombra-btn" 
                title="Habilitar" data-placement="bottom" (click)="isAtivo('true', usuario.id)">
              </button>
            </a>
            <a class="componenteform">
              <button type="button" class="btn btn-danger fa fa-trash sombra-btn"  
                title="Deletar" data-placement="bottom" data-target="#modalUtil" (click)="openModal(usuario.id, usuario.nome, 'o Usuário')">
              </button>
            </a>
          </td>
        </tr>
      </tbody>  
    </table>

       <!--PAGINAÇÃO-->
       <div class="box-footer clearfix" *ngIf="pages !=undefined">
        <ul class="pagination justify-content-center">
  
          <li class="page-item" *ngIf=" page+1 != 1" title="primeiro">
            <a href="#" (click)="setPage(0, $event)" class="page-link">
              <span aria-hidden="true" class="fa fa-fast-backward"></span>
            </a>
          </li>
  
          <li class="page-item" *ngIf="page+1 !=1" title="anterior">
            <a href="" (click)="setPreviousPage($event)" class="page-link">
              <span aria-hidden="true" class="fa fa-backward"></span>
            </a>
          </li>
  
          <li *ngFor="let p of pages; let i = index" [ngClass]="{'active': i===page}" class="page-item">
            <a href="#" (click)="setPage(i, $event)" class="page-link">
              {{i+1}}
            </a>
          </li>
          <li class="page-item" *ngIf=" page != pages.length-1" title="próximo">
            <a href="" (click)="setNextPage($event)" class="page-link">
              <span aria-hidden="true" class="fa fa-forward"></span>
            </a>
          </li>
          <li class="page-item" *ngIf=" page != pages.length-1" title="último">
            <a href="#" (click)="setPage(pages.length-1, $event)" class="page-link">
              <span aria-hidden="true" class="fa fa-fast-forward"></span>
            </a>
          </li>
        </ul>
        <p>Total de registros: <strong>{{ totalElements }}</strong>,
          pág. <strong>{{ page +1 }}</strong>
          de <strong>{{ pages.length }}</strong>.</p>
      </div>
      <!--PAGINAÇÃO-->

    <modal-message
      (onConfirm)="deletar($event)">
    </modal-message>

  </div>
</div>
</div>